@import "base.less";

// -- stage setup --

#agitpropSchema, #agitpropQuery, #agitpropManualQuery, #spaceManualQuery, #unifiedQuery {
  .left();
  .fades();
}

#obscuraSchema, #obscuraManualQuery, #obscuraFedSchema {
  .right();
  .fades();
}

// -- builds --
.introTitle, .introClub {
  #text {
    display: block;
    opacity: 1;

    > #writer {
      font-size: calc(0.5 * var(--su));
      &:first-line {
        font-size: calc(1 * var(--su));
      }
    }
  }
}

.introAgitpropGraph,
.introAgitpropGraphOrbit {
  .showGraph();
}

.introAgitpropSchema {
  .introAgitpropGraph();
  #agitpropSchema { opacity: 1; }
}

.introAgitpropQuery,
.introAgitpropRunQuery {
  #agitpropQuery { opacity: 1; }
  .showGraph();
}

.introObscuraGraph, .introObscuraOrbit {
  .showGraph();
}

.introObscuraSchema {
  .introObscuraGraph();
  #obscuraSchema { opacity: 1; }
  #graph { transform: translateX(calc(-3 * var(--su))); }
}

.introBothGraph, .introBothGraphOrbit {
  .showGraph();
}

.introManualQueryAgitprop,
.introRunManualQueryAgitprop {
  #agitpropManualQuery { opacity: 1; }  
  .showGraph();
}

.introManualQueryObscura,
.introRunManualQueryObscura {
  .introRunManualQueryAgitprop();
  #obscuraManualQuery { opacity: 1; }
}

.introFed {
  .introBothGraphOrbit();
}

.introFedObscura, .introFedUnified {
  #agitpropSchema { opacity: 1; }
  #obscuraFedSchema { opacity: 1; }
  .showGraph();
}

.introFedUnifiedOrbit {
  .showGraph();
}

.introFedUnifiedQuery, .introFedUnifiedRunQuery, .introFedUnifiedRunSubQueries {
  .showGraph();
  #unifiedQuery { opacity: 1; }
}
